// Sass Variables

$color-primary: #00c881;
$color-secondary: #0e2b5c;
$color-heading: #0b2653;
$color-body: #51668a;
$color-dark: #222222;
$color-black: #000000;
$color-gray: #f9f9f9;
$color-white: #ffffff;

$font-heading: 'Public Sans',
sans-serif;

$font-body: 'Heebo',
sans-serif;

$body-font-size: 16px;