/**************************************************/
/* svg icons */
/**************************************************/

.cls-1 {
    fill: $primary-pink-2;
    fill-rule: evenodd;
}


.cls-2 {
    fill: #fff;
    fill-rule: evenodd;
}

.cls-3 {
    fill: $text-col;
    fill-rule: evenodd;
}

.cls-4 {
    fill: #3774c2;
    fill-rule: evenodd;
    opacity: 0.1;
}

.cls-5 {
    fill: #3774c2;
    fill-rule: evenodd;
}
