<!DOCTYPE html>
{% extends 'base/base.html' %}
{% load static %}


{% block body_block %}

        <!-- Start of .header-bottom-4 -->
        <header class="header-bottom-4">
            <img src="{% static './images/banner/banner4.jpg'}">
            <div class="header-bottom-4__bg">
                <div class="icon">
                    <img src="{% static './images/banner/banner-shape.png'}">
                </div>
            </div>
            <div class="container">
                <h1 class="section-title">About <span>us</span></h1>
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="index.html">Home</a></li>
                    <li class="breadcrumb-item active">About Us</li>
                </ol>
            </div>
        </header>
        <!-- End of .header-bottom-4 -->

        <!-- Start of .about-4 -->
        <section class="about-4" id="about">
            <div class="latest-news__bg">
                <div class="icon">
                    <img src="{% static './images/png-shapes/latest-news__right-bottom-shape.png'}">
                </div>
            </div>
            <div class="container">
                <div class="content">
                    <div class="video">
                        <a class="btn-video-outer" data-fancybox href="https://youtu.be/lM02vNMRRB0">
                            <span class="btn-video">
                                <i class="fa fa-play btn-play"></i>watch video
                            </span>
                        </a>
                        <div class="img">
                            <img src="{% static './images/jpg/about-html.jpg'}">
                        </div>
                    </div>
                    <div class="content-right">
                        <h4>who we are</h4>
                        <h1 class="section-title">Medical center<br><span>in new york</span> </h1>
                        <h2>We offer reasonable pricing health care plans, insurance packages to clients.</h2>
                        <p>
                            MEDIHELP Medical Center provide patients with choices to ask for the conducting and
                            analyzing of several lab tests on-site at no cost for prioritized patients or at 70% for
                            people with an insurance.
                            <br>
                            <br>
                            Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt
                            ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco
                            laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in
                            voluptate velit esse cillum dolore eu fugiat nulla pariatur.
                            <br>
                            <br>
                            Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt
                            ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco
                            laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in
                            voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat
                            cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum. Sed
                            ut perspiciatis unde omnis iste natus error sit volu ptatem accusantium doloremque
                            laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi
                            architecto beatae vitae dicta sunt explicabo.
                            <br>
                            <br>
                            Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia
                            consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. Neque porro quisquam
                            est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non
                            numquam eius modi tempora incidunt ut labore et dolore magnam aliquam quaerat voluptatem.
                        </p>
                    </div>
                </div>
            </div>
        </section>
        <!-- End of .about-4 -->

         <!-- Start of .specialists-2 -->
         <section class="specialists-2">
            <div class="specialists-2__bg">
                <div class="icon">
                    <img src="{% static './images/png-shapes/ornament__left-bottom.png'}">
                </div>
            </div>
            <div class="container">
                <h1 class="section-title section-title_60">our <span>specialists</span></h1>
                <div class="specialists-2__card">
                    <div class="specialists-2__carousel owl-carousel owl-theme">

                        <div class="specialists-2__carousel-item">
                            <div class="img">
                                <img src="{% static './images/jpg/our-specialists-women.jpg'}">
                            </div>
                            <div class="content">
                                <table>
                                    <thead>
                                        <td colspan="2">
                                            <h1 class="title">Dr. Sara Jefferson</h1>
                                        </td>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <th>Speciality</th>
                                            <td>Ophtalmology</td>
                                        </tr>
                                        <tr>
                                            <th>Areas of Expertise:</th>
                                            <td>Cataract Treatment<br>Laser Eye Surgery</td>
                                        </tr>
                                        <tr>
                                            <th>Years of Practice:</th>
                                            <td>20 years</td>
                                        </tr>
                                        <tr>
                                            <th>Working Time:</th>
                                            <td>
                                                <table>
                                                    <tr>
                                                        <td>Mon-Thu</td>
                                                        <td>08:00-20:00</td>
                                                    </tr>
                                                    <tr>
                                                        <td>Friday</td>
                                                        <td>07:00-22:00</td>
                                                    </tr>
                                                    <tr>
                                                        <td>Saturday</td>
                                                        <td>08:00-18:00</td>
                                                    </tr>
                                                </table>
                                            </td>
                                        </tr>
                                        <tr>
                                            <th>Contacts:</th>
                                            <td><a href="tel:+11234564466">+ 1 123 456 44 66</a><br>
                                                <a href="#"><i class="fa fa-facebook"></i></a>
                                                <a href="#"><i class="fa fa-twitter"></i></a>
                                                <a href="#"><i class="fa fa-instagram"></i></a></td>
                                        </tr>
                                    </tbody>
                                    <tfoot>
                                        <td colspan="2">
                                            <a href="doctors-single_right.html" class="btn btn-2_pink">book a visit</a>
                                        </td>
                                    </tfoot>
                                </table>
                            </div>
                        </div>

                        <div class="specialists-2__carousel-item">
                            <div class="img">
                                <img src="{% static './images/jpg/our-specialists-women.jpg'}">
                            </div>
                            <div class="content">
                                <table>
                                    <thead>
                                        <td colspan="2">
                                            <h1 class="title">Dr. Sara Jefferson</h1>
                                        </td>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <th>Speciality</th>
                                            <td>Ophtalmology</td>
                                        </tr>
                                        <tr>
                                            <th>Areas of Expertise:</th>
                                            <td>Cataract Treatment<br>Laser Eye Surgery</td>
                                        </tr>
                                        <tr>
                                            <th>Years of Practice:</th>
                                            <td>20 years</td>
                                        </tr>
                                        <tr>
                                            <th>Working Time:</th>
                                            <td>
                                                <table>
                                                    <tr>
                                                        <td>Mon-Thu</td>
                                                        <td>08:00-20:00</td>
                                                    </tr>
                                                    <tr>
                                                        <td>Friday</td>
                                                        <td>07:00-22:00</td>
                                                    </tr>
                                                    <tr>
                                                        <td>Saturday</td>
                                                        <td>08:00-18:00</td>
                                                    </tr>
                                                </table>
                                            </td>
                                        </tr>
                                        <tr>
                                            <th>Contacts:</th>
                                            <td><a href="tel:+11234564466">+ 1 123 456 44 66</a><br>
                                                <a href="#"><i class="fa fa-facebook"></i></a>
                                                <a href="#"><i class="fa fa-twitter"></i></a>
                                                <a href="#"><i class="fa fa-instagram"></i></a></td>
                                        </tr>
                                    </tbody>
                                    <tfoot>
                                        <td colspan="2">
                                            <a href="#" class="btn btn-2_pink">book a visit</a>
                                        </td>
                                    </tfoot>
                                </table>
                            </div>
                        </div>

                        <div class="specialists-2__carousel-item">
                            <div class="img">
                                <img src="{% static './images/jpg/our-specialists-women.jpg'}">
                            </div>
                            <div class="content">
                                <table>
                                    <thead>
                                        <td colspan="2">
                                            <h1 class="title">Dr. Sara Jefferson</h1>
                                        </td>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <th>Speciality</th>
                                            <td>Ophtalmology</td>
                                        </tr>
                                        <tr>
                                            <th>Areas of Expertise:</th>
                                            <td>Cataract Treatment<br>Laser Eye Surgery</td>
                                        </tr>
                                        <tr>
                                            <th>Years of Practice:</th>
                                            <td>20 years</td>
                                        </tr>
                                        <tr>
                                            <th>Working Time:</th>
                                            <td>
                                                <table>
                                                    <tr>
                                                        <td>Mon-Thu</td>
                                                        <td>08:00-20:00</td>
                                                    </tr>
                                                    <tr>
                                                        <td>Friday</td>
                                                        <td>07:00-22:00</td>
                                                    </tr>
                                                    <tr>
                                                        <td>Saturday</td>
                                                        <td>08:00-18:00</td>
                                                    </tr>
                                                </table>
                                            </td>
                                        </tr>
                                        <tr>
                                            <th>Contacts:</th>
                                            <td><a href="tel:+11234564466">+ 1 123 456 44 66</a><br>
                                                <a href="#"><i class="fa fa-facebook"></i></a>
                                                <a href="#"><i class="fa fa-twitter"></i></a>
                                                <a href="#"><i class="fa fa-instagram"></i></a></td>
                                        </tr>
                                    </tbody>
                                    <tfoot>
                                        <td colspan="2">
                                            <a href="#" class="btn btn-2_pink">book a visit</a>
                                        </td>
                                    </tfoot>
                                </table>
                            </div>
                        </div>

                        <div class="specialists-2__carousel-item">
                            <div class="img">
                                <img src="{% static './images/jpg/our-specialists-women.jpg'}">
                            </div>
                            <div class="content">
                                <table>
                                    <thead>
                                        <td colspan="2">
                                            <h1 class="title">Dr. Sara Jefferson</h1>
                                        </td>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <th>Speciality</th>
                                            <td>Ophtalmology</td>
                                        </tr>
                                        <tr>
                                            <th>Areas of Expertise:</th>
                                            <td>Cataract Treatment<br>Laser Eye Surgery</td>
                                        </tr>
                                        <tr>
                                            <th>Years of Practice:</th>
                                            <td>20 years</td>
                                        </tr>
                                        <tr>
                                            <th>Working Time:</th>
                                            <td>
                                                <table>
                                                    <tr>
                                                        <td>Mon-Thu</td>
                                                        <td>08:00-20:00</td>
                                                    </tr>
                                                    <tr>
                                                        <td>Friday</td>
                                                        <td>07:00-22:00</td>
                                                    </tr>
                                                    <tr>
                                                        <td>Saturday</td>
                                                        <td>08:00-18:00</td>
                                                    </tr>
                                                </table>
                                            </td>
                                        </tr>
                                        <tr>
                                            <th>Contacts:</th>
                                            <td><a href="tel:+11234564466">+ 1 123 456 44 66</a><br>
                                                <a href="#"><i class="fa fa-facebook"></i></a>
                                                <a href="#"><i class="fa fa-twitter"></i></a>
                                                <a href="#"><i class="fa fa-instagram"></i></a></td>
                                        </tr>
                                    </tbody>
                                    <tfoot>
                                        <td colspan="2">
                                            <a href="#" class="btn btn-2_pink">book a visit</a>
                                        </td>
                                    </tfoot>
                                </table>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </section>
        <!-- End of .specialists-2 -->

        <!-- Start of .our-numbers -->
        <section class="our-numbers">
            <div class="our-numbers__bg"></div>
            <div class="container">
                <div class="our-numbers__items">
                    <div class="item">
                        <h1><span class="counter">125</span>+</h1>
                        <h4>Certified Great Doctors</h4>
                    </div>
                    <div class="item">
                        <h1><span class="counter">10</span>+</h1>
                        <h4>National Awards</h4>
                    </div>
                    <div class="item">
                        <h1><span class="counter">30</span>+</h1>
                        <h4>Medical Cervices</h4>
                    </div>
                    <div class="item">
                        <h1><span class="counter">20</span>+</h1>
                        <h4>Years of Experience</h4>
                    </div>

                </div>
                <div class="our-numbers__img wow fadeInRight" data-wow-duration="1s">
                    <img src="{% static './images/jpg/our-numbers.jpg'}">
                </div>
            </div>
        </section>
        <!-- End of .our-numbers -->

     
        {% endblock %}