<!DOCTYPE html>
{% extends 'base/base.html' %}
{% load static %}


{% block body_block %}

        <!-- Start of .header-bottom-4 -->
        <header class="header-bottom-4">
            <img src="{% static './images/banner/banner4.jpg'}">
            <div class="header-bottom-4__bg">
                <div class="icon">
                    <img src="{% static './images/banner/banner-shape.png'}">
                </div>
            </div>
            <div class="container">
                <h1 class="section-title">About <span>us</span></h1>
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="index.html">Home</a></li>
                    <li class="breadcrumb-item active">About Us</li>
                </ol>
            </div>
        </header>
        <!-- End of .header-bottom-4 -->

        <!-- Start of .about-4 -->
        <section class="about-4" id="about">
            <div class="latest-news__bg">
                <div class="icon">
                    <img src="{% static './images/png-shapes/latest-news__right-bottom-shape.png'}">
                </div>
            </div>
            <div class="container">
                <div class="content">
                    <div class="video">
                        <a class="btn-video-outer" data-fancybox href="https://www.youtube.com/watch?v=_S9e0Z5vQu4">
                            <span class="btn-video">
                                <i class="fa fa-play btn-play"></i>watch video
                            </span>
                        </a>
                        <div class="img">
                            <img src="{% static './images/fresher.jpg'}">
                        </div>
                    </div>
                    <div class="content-right">
                        <h2>We offer reasonable pricing health care plans, insurance packages to clients.</h2>
                        <p>
                            MEDIHELP Medical Center provide patients with choices to ask for the conducting and
                            analyzing of several lab tests on-site at no cost for prioritized patients or at 70% for
                            people with an insurance.
                            <br>
                            <br>
                            Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt
                            ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco
                            laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in
                            voluptate velit esse cillum dolore eu fugiat nulla pariatur.
                            <br>
           
                        </p>
                    </div>
                </div>
            </div>
        </section>
        <!-- End of .about-4 -->

         <!-- Start of .specialists-2 -->
         <section class="specialists-2">
            <div class="container">
                <h1 class="section-title section-title_60">our <span>mentors</span></h1>
                <div class="specialists-2__card">
                    <div class="specialists-2__carousel owl-carousel owl-theme">

                        <div class="specialists-2__carousel-item">
                            <div class="img">
                                <img src="{% static './images/r.jpg'}">
                            </div>
                            <div class="content">
                                <table>
                                    <thead>
                                        <td colspan="2">
                                            <h1 class="title">Prof. (Dr) Ratika Pradhan</h1>
                                        </td>
                                    </thead>
                                
                                </table>
                                <h5>Associate Director(SA), SMIT</h5>
                              
                                <br>
                                <p>The club brings challenges and develops the confidence to tackle daily engineering difficulties while different events attract and drive participants to excel.</p>
                            </div>
                        </div>

                        <div class="specialists-2__carousel-item">
                            <div class="img">
                                <img src="{% static './images/r.jpg'}">
                            </div>
                            <div class="content">
                                <table>
                                    <thead>
                                        <td colspan="2">
                                            <h1 class="title">Prof. (Dr) Ashis Sharma</h1>
                                        </td>
                                    </thead>
                                
                                </table>
                                <h5>Director, SMIT</h5>
                                <br>
                                <p>Innovision is a platform for both project exhibitors and tech geeks which allows aspiring innovators to transform their ideas and visions into real time execution of projects.</p>
                            </div>
                        </div>



                    </div>
                </div>
            </div>
        </section>
        <!-- End of .specialists-2 -->

        <!-- Start of .our-numbers 
        <section class="our-numbers">
            <div class="our-numbers__bg"></div>
            <div class="container">
                <div class="our-numbers__items">
                    <div class="item">
                        <h1><span class="counter">125</span>+</h1>
                        <h4>Certified Great Doctors</h4>
                    </div>
                    <div class="item">
                        <h1><span class="counter">10</span>+</h1>
                        <h4>National Awards</h4>
                    </div>
                    <div class="item">
                        <h1><span class="counter">30</span>+</h1>
                        <h4>Medical Cervices</h4>
                    </div>
                    <div class="item">
                        <h1><span class="counter">20</span>+</h1>
                        <h4>Years of Experience</h4>
                    </div>

                </div>
                <div class="our-numbers__img wow fadeInRight" data-wow-duration="1s">
                    <img src="{% static './images/jpg/our-numbers.jpg'}">
                </div>
            </div>
        </section>
         End of .our-numbers -->

     
        {% endblock %}